
<div class="center">
  <p-tabView>

    <p-tabPanel header="General">
      <app-general></app-general>
    </p-tabPanel>

    <p-tabPanel header="Deliveries">
      <app-delivery></app-delivery>
    </p-tabPanel>

    <p-tabPanel header="Registration">
      <app-registration></app-registration>
    </p-tabPanel>

    <p-tabPanel header="Orders">
      <app-orders></app-orders>
    </p-tabPanel>

    <p-tabPanel header="Gallons">
      <app-gallons></app-gallons>
    </p-tabPanel>

    <p-tabPanel header="Financial">
      <app-financial></app-financial>
    </p-tabPanel>

    <p-tabPanel header="Other Reports">
      <app-otherreports></app-otherreports>
    </p-tabPanel>

    <p-tabPanel header="E-List Gold">
      <app-elistgold></app-elistgold>
    </p-tabPanel>

  </p-tabView>
</div>

