<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1>Regenerate Order Emails</h1>
      <form>
        <div class="form-group">
          <label for="regemail">Order Number</label>
          <input type="number" class="form-control" id="regemail">
          <small id="regemail" class="form-text text-muted">Enter an order number to search.</small>
        </div>


        <div class="form-group">
          <label for="exampleSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleSelect2">
            <option value="-1">Select Status</option>
            <option value="New">New</option>
            <option value="Delivered">Delivered</option>
            <option value="Cancelled">Cancelled</option>
            <option value="Scheduled">Scheduled</option>
          </select>
        </div>


        <div align="right">
          <button type="submit" class="btn btn-primary">Search Order</button>
        </div>

      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <span>Orders</span>
      <select size="1" name="newOrderTable_length">
        <option value="5" selected="selected">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="All">All</option>
      </select>
      <span>per page</span>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <table class="table -table-striped">
        <thead>
        <tr>
          <th>Order ID</th>
          <th>Customer Name</th>
          <th>Order Date</th>
          <th>Status</th>
          <th>Delivered Amount</th>
          <th>Regenerate Email</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>No Matching Found</td>
        </tr>
        </tbody>

        <tfoot>
        <tr class="table-info">
          <td>
            Showing 0 to 0 of 0 entries
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>




  <div class="row">
    <div class="col-md-2">
      <span>Export Format</span>
    </div>
    <div class="col-md-4">
      <input type="radio" name="chosenExportType" id="frmManageNewOrder_chosenExportTypeCSV" value="CSV">CSV
      <input type="radio" name="chosenExportType" id="frmManageNewOrder_chosenExportTypeEXCEL" checked="checked" value="EXCEL">EXCEL
    </div>
  </div>


  <div class="row">
    <div class="col-md-12" align="right">
      <button class="btn btn-button">Export</button>
      <button class="btn btn-button">Update</button>
    </div>
  </div>
</div>
