<p-menubar [model]="items" *ngIf="menusActive">

  <ng-template [ngIf]="!menusActive">

    <button pButton label="Signup"
            class="ui-button-secondary"
            icon="fa-sign-out"
            routerLink="signup">

    </button>

    <button pButton
            label="Signin"
            class="ui-button-secondary"
            icon="fa-sign-out"
            routerLink="signin">
    </button>

  </ng-template>

  <span>Welcome: {{username | uppercase}}</span>

  <button pButton label="Logout"
          class="ui-button-secondary"
          icon="fa-sign-out"
          (click)="onClickLogout()"
          *ngIf="menusActive">
  </button>

</p-menubar>

